*{
  margin: 0px;
  padding: 0px;
}

body{
  /* background-image: url('../public/tiet3.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color: #e6f3ff;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the thumb (dragging handle) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #e6f3ff; /* Light blue color for the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
  background-color: #e6f3ff; /* Light blue color for the thumb */
}

.cursor-pointer {
  cursor: pointer;
}

.user{
  height: 50px;
  width: 50px;
}